.DS_Store
*.o
1_MakePlanet/InitPlanet
1_MakePlanet/MakePlanet.tar.gz
2_SampleInit/Gadget2
6_SampleRun/Gadget2
Gadget2Source/Gadget2
3b_AnalyseEquil/Analyse
5_CombineBodies/CombineBodies
3_ReadSnap/Read
4_Remove/Remove
tools/BoundMass/BoundMass
tools/RemoveLR/RemoveLR
tools/RemoveLR_long/RemoveLR_long
tools/Snapshot_ThermoVars/SnapshotL
tools/MoreBound/MoreBound
tools/Snap2ss/Snap2ss
snapshot_*


